body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url(../img/imagen\ header.png)/* url("../img/bg-hero.jpg") */ ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 650px;
  
  
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
/* Modificaciones para desafio 5 git and github */
/* Modoficaciones Nav bar */
nav {
  
}
nav a img{
  width: 220px;
}
nav li {
  color: #75c7fb;
  font-size: large;
}
/* modificaciones Hero section */
header {
  color:#75c7fb ;
  
}
header h1 img {
  height: 150px;

}
header .botones{
  margin-right: 30px;
}
/* modificaciones seccion Clientes */
#clientes .row img{
  
  height: 100px;
  width: 100px;
}
/* modificaciones seccion Mis-trabajos */
